{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
	<table class="table table-striped">
	  <tbody>
	  	{% for things in all_items %}
	  		{% if things.completed %}
			    <tr>
			      <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
			      <td><a href="{% url 'uncross' things.id %}">Cofnij</a></td>
			      <td><a href="{% url 'delete' things.id %}">Usuń</a></td>
			    </tr>
	    	{% else %}
	    		<tr>
			      <td><a href="{% url 'edit' things.id %}">{{ things.item }}<a></td>
			      <td><a href="{% url 'cross_off' things.id %}">Przekreśl</a></td>
			      <td><a href="{% url 'delete' things.id %}">Usuń</a></td>
			    </tr>
			{% endif %}
	    {% endfor %}
	  </tbody>
	</table>
{% endblock %}
